<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tabchanj.pangu.mapper.PicUrlMapper">
	<select id="get" parameterType="int" resultType="PicUrl">
		select * from
		t_picurl where id=#{id}
	</select>

	<insert id="save" parameterType="PicUrl" useGeneratedKeys="true">
		insert into t_picurl (url,localurl)
		values (#{url},#{localurl})
	</insert>

	<select id="getAll" resultType="PicUrl">
		select * from t_picurl
	</select>
</mapper>